// COLORS
$clr-green-1: #007500;
$clr-green-0: darken($clr-green-1, 50%);
$clr-green-2: rgb(0, 163, 0);
$clr-green-3: #00ff00;
$clr-green-4: lighten($clr-green-2, 55%);
@mixin transition($prop) {
	transition: $prop 300ms ease-out;
}

header {
	h1 {
		span {
			color: $clr-green-3;
		}
	}
}
.header.sticked {
	background-color: darken($clr-green-1, 50%);
}
.navbar .get-a-quote {
	border: none;
	background-color: $clr-green-1;
	font-size: 16px;
	&:hover {
		background-color: $clr-green-1;
	}
	a {
		display: inline;
		color: white;
		padding: 0;
		&:hover {
			text-decoration: underline;
			text-decoration-color: white;
		}
	}
}
@media (max-width: 1279px) {
	.navbar ul {
		background-color: $clr-green-0;
	}
}
.hero {
	background-image: linear-gradient(
			to right,
			rgba(0, 163, 0, 0.6),
			rgba(0, 163, 0, 0.6)
		),
		url(../images/farm-hero.jpg);
}
.actions {
	display: flex;
	gap: 2rem;
	> a {
		border: none;
	}
	.action.farm {
		background-color: $clr-green-1;
	}
	.action.customer {
		color: $clr-green-2;
		@include transition(all);
		&:hover {
			color: white;
			background-color: $clr-green-2;
		}
	}
}

.featured-services {
	.row.gy-4 {
		display: flex;
		justify-content: space-between;
	}
	i {
		color: $clr-green-3 !important;
	}
}

.about.pt-0 {
	margin-top: 5rem;
}
.about .content h3 {
	color: $clr-green-0;
	display: grid;
	width: max-content;
	&::after {
		content: ' ';
		display: block;
		width: 70%;
		height: 0.3rem;
		background-color: $clr-green-3;
		justify-self: end;
	}
}
.col-lg-6.content.order-last.order-lg-first {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.services {
	.section-header {
		h2 {
			color: $clr-green-0;
		}
		& h2::after {
			display: none;
		}
	}

	.farms {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		gap: 1rem;
		.card {
			color: black;
			display: grid;
			grid-template-columns: repeat(1fr, 6);
			grid-template-areas:
				'name name name name name logo'
				'prod prod harv harv harv harv';
			align-items: center;
			gap: 2rem 0;
			border: 1px solid $clr-green-4;
			border-radius: 0.5rem;
			padding: 1rem;
			@include transition(background-color);
			@media (max-width: 1279px) {
				grid-template-areas:
					'logo logo logo logo logo logo'
					'name name name name name name'
					'harv harv harv harv harv harv'
					'prod prod prod prod prod prod';
			}
			&:hover {
				background-color: $clr-green-3;
			}
			.name {
				grid-area: name;
				font-size: 1.5rem;
				font-weight: 800;
				color: $clr-green-0;
			}
			.type-or-logo {
				grid-area: logo;
				height: 2rem;
				width: 2rem;
				overflow-y: hidden;
				img {
					width: 100%;
					height: 110%;
				}
			}
			.produce {
				grid-area: prod;
				font-weight: 800;
				color: $clr-green-1;
			}
			.harvest {
				grid-area: harv;
				font-weight: 800;
				.span-title {
					font-weight: 100;
					font-size: 13px;
				}
			}
		}
	}
	.post-section {
		text-align: center;
		margin-top: 2rem;
		a {
			border: none;
			// padding: 1rem;
			background-color: $clr-green-1;
			border-radius: 0;
			@include transition(background-color);
			&:hover {
				background-color: $clr-green-0;
			}
		}
	}
}

// OTHER PAGES
body.other {
	padding-top: 5.5rem;
}
.header.other {
	background-color: $clr-green-0;
	&.sticked {
		background-color: $clr-green-0;
	}
}

// PRODUCT DETAILS
.service-details {
	.category {
		margin-block: 1rem;
	}
	.category-title {
		font-weight: 800;
		margin-bottom: 0.2rem;
	}
	li.category {
		display: grid;
		i {
			color: black;
			font-size: inherit;
		}
	}
	.order {
		margin-top: 1rem;
		button.order-now {
			background-color: $clr-green-1;
			color: white;
		}
	}
}
.service-details h3 {
	color: $clr-green-0;
	font-size: 30px;
}
.service-details .services-list {
	border-color: $clr-green-4;
	border-radius: 0.5rem;
	h2 {
		font-weight: 800;
	}

	.categories {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

//CONTACT
.contact {
	padding-top: 30px;
	padding-bottom: 80px;
	.icon {
		text-align: start;
		font-size: 5rem;
		padding-left: 2rem;
		color: $clr-green-2;
	}
	h1 {
		font-weight: 800;
	}
	.row.gy-4 .col-lg-4 {
		background: linear-gradient(
				to right,
				rgba(255, 255, 255, 0.5),
				rgba(255, 255, 255, 0.5)
			),
			url(../images/forms.svg);
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	.row {
		.form-group.mt-3 {
			display: flex;
			justify-content: space-between;
			@media (max-width: 1279px) {
				flex-direction: column;
			}
			input {
				// width: max-content;
			}
			.input-style {
				display: flex;
				input {
					border: none;
					width: 4rem;
					height: 2rem;

					&:focus {
						border: none;
						outline: none;
					}
					&::-webkit-inner-spin-button,
					&::-webkit-outer-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
				}
			}
		}
	}
	.add-inputs {
		text-align: end;
		padding-top: 1rem;
		font-size: 14px;
		button {
			// border-radius: 50%;
			background-color: $clr-green-1;
			@include transition(all);
			&:hover {
				background-color: $clr-green-0;
			}
		}
	}
	.php-email-form button[type='submit'] {
		background-color: $clr-green-1;
		@include transition(all);
		&:hover {
			background-color: $clr-green-0;
		}
	}
}
.modal-overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;

	.modal-content {
		position: absolute;
		background: white;
		inset: 50% auto auto 50%;
		transform: translate(-50%, -50%);
		max-width: 30rem;
	}
}

//FOOTER
.footer {
	background-color: $clr-green-0;
}

// SCROLL TO TOP
.scroll-top {
	background-color: $clr-green-1;
	&:hover {
		background-color: black;
	}
}
